h2 {
  margin: auto;
  text-align: center;
}

div {
  box-sizing: border-box;
}

/*
#buttonWrapper {
  height: 100px;
}
*/

.button {
  display: flex;
  flex-direction: column;
  width: 160px;
  height: 100px;
  margin-left: 20px;
  float: left;
  background-color: rgb(64, 231, 237);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.button > div {
  font-size: 24px;
}

.button > div ~ div {
  font-size: 12px;
}

#rollDiceButton.disabled {
  cursor: default;
  background-color: rgb(161, 237, 240);
  color: grey;
}

.button.emphasized {
  border: 3px solid black;
}

#gameWrapper {
  margin: auto;
}

.wrapper {
  width: 360px;
  height: 100px;
  margin-top: 20px;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  margin-left: 5%;
  float: left;
  background-color: lightblue;
  text-align: center;
  font-size: 32px;
  border-radius: 10px;
}

#diceWrapper {
  height: 100px;
}

.button:hover {
  cursor: pointer;
}

.numberButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
  float: left;
  font-size: 32px;
}

.numberButton.available {
  background-color: lightgreen;
}

.numberButton.available:hover{
  border: 3px solid black;
  cursor: pointer;
}

.numberButton.unavailable {
  background-color: rgb(197, 235, 197);
  color: grey;
}

.numberButton.selected:hover{
  border: 3px solid black;
  cursor: pointer;
}

.numberButton.selected {
  background-color: rgb(100, 201, 83);
  color: black;
}

.numberButton.used {
  background-color: rgb(204, 213, 203);
  color: grey;
}

#numbersWrapper {
/*  height: 360px;*/
/*  height: inherit;*/
}