body {
  font-family: 'Inter', sans-serif;
}

h2 {
  margin: auto;
  text-align: center;
}

h4 {
  margin-top: 8px;
  margin-bottom: 4px;
}

div {
  box-sizing: border-box;
  position: relative;
}

#infoIcon {
  position: fixed;
  width: 28px;
  height: 28px;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

#infoPopupWrapper {
  position: fixed;
  width: 320px;
  height: 480px;
  left: 50%;
  top: 90px;
  transform: translate(-50%);
  z-index: 2;
}

#infoPopupWindow {
  width: 90%;
  height: 100%;
  border: 4px solid white;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(112, 255, 219);
  border-radius: 12px;
  text-align: center;
  padding: 18px;
  overflow: scroll;
}

#infoPopupWindow p, ol, ul, li {
  font-size: 12px;
}

b {
  font-size: 16px;
}

#infoPopupWindow ol, ul, li {
  margin-left: -12px;
  text-align: left;
}

#infoPopupWindow h2, h3, h4 {
  margin-bottom: 0px;
  margin-block-start: 20px;
  margin-block-end: 0px;
}

#infoPopupTabPanel {
  position: absolute;
  width: 15%;
  top: 0px;
  right: -12px;
  padding-top: 12px;
}

.infoTab {
  border-radius: 0px 10px 10px 0px;
  background-color: rgb(91, 212, 181);
  border: 4px solid white;
  writing-mode: vertical-rl;
  padding: 6px;
  cursor: pointer;
}

.infoTab.selected {
  border-left: 0px solid white;
  padding-left: 10px;
  background-color: rgb(112, 255, 219);
}

#closeIcon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 10;
}

.button {
  display: flex;
  flex-direction: column;
  width: 28%;
  height: 100px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  float: left;
  background-color: rgb(64, 231, 237);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.rawButton > div {
  font-size: 24px;
  text-align: center;
}

.rawButton > div ~ div {
  font-size: 12px;
}

#rollDiceButton.disabled {
  cursor: default;
  background-color: rgb(161, 237, 240);
  color: grey;
}

#buttonWrapper {
  margin-top: 8px;
}

.button.emphasized {
  border: 3px solid black;
}

#numTilesButton {
  cursor: default;
}

#numTilesDisplay {
  font-size: 24px;
}

.numTilesArrow {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 50%;
  height: 20%;
}

#gameWrapper {
  margin: auto;
}

.wrapper {
  width: 360px;
  height: 100px;
}

.dice {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 100%;
  margin-left: 5%;
  float: left;
  background-color: lightblue;
  text-align: center;
  font-size: 32px;
  border-radius: 10px;
}

#diceWrapper {
  display: flex;
  height: 100px;
  margin: auto;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}

.numberButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  font-size: 32px;
}

.numberButton.available {
  background-color: lightgreen;
}

.numberButton.available:hover{
  border: 3px solid black;
  cursor: pointer;
}

.numberButton.unavailable {
  background-color: rgb(197, 235, 197);
  color: grey;
}

.numberButton.selected:hover{
  border: 3px solid black;
  cursor: pointer;
}

.numberButton.selected {
  background-color: rgb(100, 201, 83);
  color: black;
}

.numberButton.used {
  background-color: rgb(204, 213, 203);
  color: grey;
}

#numbersScoreWrapper > div {
  float: left;
}

#numbersWrapper {
/*  height: 360px;*/
/*  height: inherit;*/
}

#scoreDisplay {
  display: flex;
  justify-content: center;
  background-color: turquoise;
  z-index: 0;
  color: white;
}

#scoreDisplay div {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.scoreDisplayText {
  position: absolute;
  top: 10px;
  writing-mode: vertical-rl;
  z-index: 1;
}

#scoreProgressBar {
  background-color: paleturquoise;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  z-index: 2;
  color: darkturquoise;
}

.hidden {
  display: none;
  visibility: hidden;
}